* {
  font-family: "Roboto", sans-serif;
}

body {
    background: radial-gradient(circle, rgba(246,246,244,1) 10%, rgba(251,251,235,1) 83%);
    margin: 0;
    min-width: fit-content;
    padding:0;
}

.paypal {
    text-align: right;
    padding-bottom: 40px;
}
.paypal button {
    display: inline-block;
    padding: 10px 20px 7px 20px;
    background-color: #FFC439;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 215px;
}
.paypal button:hover {
    background-color: #f3bb37;
}

.jumbotron {
    background-image: url('../img/IMG_9121.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.jumbotron h1 {
    font-size: 8rem!important;
    margin-left: 10%
}
.jumbotron p {
    font-size: 3rem!important;
    margin-left: 10%
}

.bgg1 {
    background-color: black!important;
    border-top: 7px solid #fad40b;
}

.bgg {
    background-color: black!important;
    border-top: 14px solid #fad40b;
}

.new {
    background-color: #fad40b;
}
.navbar-nav a {
    font-size: 1.2rem;
}

.navbar-nav a:hover {
    color: yellow!important;
}

a {
    text-decoration: none!important;
}

.logo {
    width: 12vw;
}

.logo1 {
    width: 22vw;
}

.main p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: currentColor;
}

.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}

.active {
    background-color: black;
    color: white;
}

.active img {
    width: 100%;
}

.end {
    font-size: 1.4rem;
}

.end:hover {
    transform: scale(1.2);
}
  
.end {
    transition: all 0.4s;
}

.link {
    font-size: 1.2rem;
}

.back {
    font-size: 1.6rem;
}

@media(max-width: 660px) {
    .jumbotron h1 {
        font-size: 4.4rem!important;  
    }

    .jumbotron p {
        font-size: 1.8rem!important;
    }

  
    .navbar-nav a {
        font-size: 0.7rem;
    }

    .logo {
        width: 24vw;
    }

    .sticky {
        position: fixed;
        top: 0%;
        width: 100%;
        z-index: 1;
    }

    .title h5 {
        font-size: 0.8rem!important;
    }

    .title p {
        font-size: 0.7rem!important;
    }


}

@media(min-width: 661px) and (max-width: 1000px) {
    .jumbotron h1 {
        font-size: 4.4rem!important;  
    }

    .jumbotron p {
        font-size: 1.8rem!important;
    }

    .navbar-nav a {
        font-size: 0.9rem;
    }

    .logo {
        width: 18vw;
    }

    .sticky {
        position: fixed;
        top: 0%;
        width: 100%;
        z-index: 1;
    }
}
