* {
  font-family: "Roboto", sans-serif;
}

body {
    background: radial-gradient(circle, rgba(246,246,244,1) 10%, rgba(251,251,235,1) 83%);
    margin: 0;
    min-width: fit-content;
    padding:0;
}

.jumbotron {
    background-image: url('../img/IMG_9121.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.bgg1 {
    background-color: black!important;
    border-top: 7px solid #fad40b;
}

.bgg {
    background-color: black!important;
    border-top: 14px solid #fad40b;
}

.new {
    background-color: #fad40b;
}
.navbar-nav a {
    font-size: 1.2rem;
}

.navbar-nav a:hover {
    color: yellow!important;
}

a {
    text-decoration: none!important;
}

.logo {
    width: 15vw;
}

.logo1 {
    width: 22vw;
}

.main p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: currentColor;
}


.active img {
    width: 100%;
}

.prodimg {
    height: 40vh;
}

.end {
    font-size: 1.4rem;
}

.end:hover {
    transform: scale(1.2);
}
  
.end {
    transition: all 0.4s;
}

.link {
    font-size: 1.4rem;
}

.back {
    font-size: 1.6rem;
}

/* Preview */
.preview{
   width: 100px;
   height: 100px;
   border: 1px solid black;
   background: white;
}

.preview img{
   display: none;
}

.reciCard:hover {
    box-shadow: 10px 10px 5px grey;
}

/*new stuff*/

.reciTitle{
    font-size: 5rem!important;
    color: #fad40b;
}

.reciDescription{
    font-size: 1.5rem!important;
}

.reciDifficulty{
    font-size: 1.3rem!important;
}

.stepsTitel{
    border-bottom: 3px solid #fad40b;
    font-size: 1.8rem!important;

}

.stepsText{
    font-size: 1.3rem!important;
}

.reciFood{
    font-size: 1.3rem!important;
}

.active{
    border-bottom: 6px solid #fad40b;
    height: 46vh;
}

.active img {
    height: 45.5vh!important;
    width: 45%;
}

.active .recibody {
    height: 45.5vh!important;
    width: 45%;
}

/* new stuff end */

.accordion img {
    height: 65vh;
}

.recimg img {
    height: 60vh;
}

.mushroomInformation{
    font-size: 1.2rem!important;
}

@media(max-width: 660px) {
    .navbar-nav a {
        font-size: 0.8rem;
    }

    .logo {
        width: 35vw;
    }

    .logo1 {
        width: 65vw;
    }

    .title h5 {
        font-size: 0.9rem!important;
    }

    .title p {
        font-size: 0.8rem!important;
    }

    .reciTitle{
        font-size: 1.7rem!important;
    }

    .reciDescription{
        font-size: 1rem!important;
    }

    .reciDifficulty{
        font-size: 0.9rem!important;
    }
    .recibody {
        padding-left: 10px!important;
    }

    .active img {
        height: 46vh!important;
    }

    .active {
        height: 47vh!important;
    }

    .active .recibody {
        width: 54%;
    }

    .mushroomInformation{
        font-size: 1rem!important;
    }

}

@media(min-width: 661px) and (max-width: 1000px) {
    .navbar-nav a {
        font-size: 0.8rem;
    }

    .logo {
        width: 15vw;
    }

    .logo1 {
        width: 30vw;
    }

    .active {
        height: 50vh;
    }

    .active img {
        height: 49vh!important;
    }

    .reciTitle{
        font-size: 3rem!important;
    }

    .reciDescription{
        font-size: 1.1rem!important;
    }

    .link {
        font-size: 1.2rem!important;
    }
}
